<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <h1>Create a Puppy</h1>
    <form method="post" action="/display_puppy">
    <label> Enter name: <input type="text" name="name"> </label> <br/>
    <label> Enter breed: <input type="text" name="breed"> </label> <br/>
    <label> Enter age: <input type="text" name="age"> </label> <br/>
    <input type="submit" id="submit">
  </form>
  </body>
</html>
